
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diseases</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
  <body style="background-color: rgb(227, 225, 225);">
    <%- include('./includes/navbar')  %>

    <h3 class="text-center">Diseases Table</h3><br>
    <!-- Table -->
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Name</th>
            <th scope="col">Scientific Name</th>
            <th scope="col">Description</th>
            <th scope="col">Related Diseases</th> 
            <th scope="col">Gene Info</th>       
          </tr>
        </thead>
        <tbody>
           <% let i=1;
            for (const disease of diseases) { %>
            <tr>
                <th scope="row"><%= i %></th>
                <td><a class="text-decoration-none" href="/diseases/<%= disease._id %>"><%= disease.disease_name %></a></td>
                <td><%= disease.scientific_name %></td>
                <td><%= disease.summary %></td>
                <td><%= disease.related_diseases %></td>
                <td><a class="text-decoration-none" href="/genes/<%= disease._id %>">View</a></td>
            </tr>
            <% i+=1; 
            } %>
        </tbody>
      </table><br>


    <%- include('./includes/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>