<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= disease.disease_name %></title>
</head>
<body>
    <div>The Scientific name of <%= disease.disease_name %> is given as <%= disease.scientific_name %></div>
    <div><%=  disease.summary %></div>
    <div>Some related diseases are <%= disease.related_diseases %></div>
</body>
</html>