<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= disease.Disease %></title>
</head>
<body>
    <div><%= disease.Disease %> Freuency is <%= disease.Frequency %></div>
    <% if(disease.Treatment) { %>
    <div>This can be treated by <%= disease.Treatment %> </div>
    <% } %>
    <% if(disease.Medication) { %>
        <div>Medication needed is <%= disease.Medication %> </div>
    <% } %>
    <div><%= symptom.Symptoms %></div>
    <div>The Affected Organs include <%= symptom.AffectedOrgan%></div>
</body>
</html>